<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Skills</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Resume Builder</h1>
        <p class="lead">Build your resume here!</p>
    </div>
</div>

<div th:replace="fragments/base :: applicantnavbar"></div>

<form th:action="@{/addskilltoajob}" th:object="${form}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <span th:if="${#fields.hasErrors('skillName')}" th:errors="*{skillName}"></span><br/>
    <label>Skill Name: </label><input type="text" th:field="*{skillName}"/>
    <br />
    <span th:if="${#fields.hasErrors('skillLevel')}" th:errors="*{skillLevel}"></span><br/>
    <label>Level(Integer values 1 to 5)e.g 1:beginner, 3 :intermediate, 5:proficient): </label><input type="text" th:field="*{skillLevel}"/>

    <br />
    <div class="controls">
        <button type="submit" class="btn btn-success">Submit Skills</button>
    </div>
</form>

<br />
<a th:href="@{/addexperience}">Continue to Experiences</a>

<div th:replace="fragments/base :: footer"></div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>