<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Resume Builder</h1>
        <p class="lead">Build your resume here!</p>
    </div>
</div>


<div th:replace="/fragments/base :: employernavbar"></div>

<div class="container">
    <h3 th:text="Resume"></h3>
<table class="table table-striped">


    <tr><b>Summary: </b></tr>
    <tr th:each="summary :${summaries}">
        <p th:text ="'Summary: '+${summary.summaryStr}">some text here</p>
    </tr>
    <br /><br />

    <tr><b>Contact Information: </b></tr>
    <tr th:each="personal :${personals}">
        <p><img align="left" width="100" height="100" th:src="(${personal.image}==null)?'https://upload.wikimedia.org/wikipedia/commons/a/a9/Vector_Book_blue.svg':${personal.image}"/></p>
        <!--<img th:src="${personal.image}" width="100" height="100"/>-->
        <br />
        <p th:text ="'Name: ' +${personal.name}"> Name and Email</p>
        <p th:text ="'Email: ' +${personal.email}">some text here</p>

    </tr>
    <br /><br />
    <tr><b>Educational Background: </b></tr>
    <tr th:each="education :${educations}">
        <p th:text ="'Education: ' +${education.title}">some text here</p>
        <p th:text ="'Level: ' +${education.level}">some text here</p>
    </tr>

    <br /><br />
    <tr><b>Skills Information: </b></tr>
    <tr th:each="skill :${skills}">
        <p th:text ="'Skill name: '+${skill.skillName}">some text here</p>
        <p th:text ="'Skill level: '+${skill.skillLevel}">some text here</p>
    </tr>



    <br /><br />
    <tr><b>Work Experience: </b></tr>
    <tr th:each="experience :${experiences}">
        <p th:text ="'Company: ' +${experience.company}">some text here</p>
        <p th:text ="'Position: ' +${experience.position}">some text here</p>
    </tr>


    <br /><br />
    <tr><b>References: </b></tr>
    <tr th:each="refer :${references}">
        <p th:text ="'Reference Name: '+${refer.refName}">some text here</p>
        <p th:text ="'Refernce Number: '+${refer.refNum}">some text here</p>
    </tr>


</table>
</div>

<br />
<a th:href="@{/index}">Back to Home</a>

<div th:replace="fragments/base :: footer"></div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>