<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Experience</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Resume Builder</h1>
        <p class="lead">Build your resume here!</p>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--<a class="navbar-brand" href="#">Resume Library</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addsummary">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addpersonal">Contact Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addeducation">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addskill">Skills</a>
            </li>
            <li class="nav-item active nav-pills">
                <a class="nav-link active" href="/addexperience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addreference">References</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/coverletter">Add Cover Letter</a>
            </li>


            <div th:replace="fragments/base :: viewmenu"></div>
        </ul>
    </div>
</nav>

<form th:action="@{/postexperience}" th:object="${experience}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <span th:if="${#fields.hasErrors('company')}" th:errors="*{company}"></span><br/>
    <label>Company: </label><input type="text" th:field="*{company}"/>

    <span th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></span><br/>
    <label>Position: </label><input type="text" th:field="*{position}"/>

    <br />
    <input type="submit" value="Submit Experience info"/>
</form>

<br />
<a th:href="@{/addreference}">Continue to References</a>

<div th:replace="fragments/base :: footer"></div>
</body>
</html>