<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Skills</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Resume Builder</h1>
        <p class="lead">Build your resume here!</p>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--<a class="navbar-brand" href="#">Resume Library</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addsummary">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addpersonal">Contact Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addeducation">Education</a>
            </li>
            <li class="nav-item active nav-pills">
                <a class="nav-link active" href="/addskill">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addexperience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addreference">References</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/displayresume">View</a>
            </li>
        </ul>
    </div>
</nav>

<form th:action="@{/postskill}" th:object="${skill}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <span th:if="${#fields.hasErrors('skillName')}" th:errors="*{skillName}"></span><br/>
    <label>Skill Name: </label><input type="text" th:field="*{skillName}"/>
    <br />
    <span th:if="${#fields.hasErrors('skillLevel')}" th:errors="*{skillLevel}"></span><br/>
    <label>Level(Integer values 1 to 5)e.g 1:beginner, 3 :intermediate, 5:proficient): </label><input type="text" th:field="*{skillLevel}"/>

    <br />
    <input type="submit" value="Submit Skill info"/>
</form>

<br />
<a th:href="@{/addexperience}">Continue to Experiences</a>

<div th:replace="fragments/base :: footer"></div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>